* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.page {
  background-image: url(./img/AI.png);
  position: fixed;
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
  background-color: rgba(240, 248, 255, 0);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header {float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: fixed;
  right: 6%;
  top: 6%;
  width: 50%;
  height: 10%;
}

.menu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%) ;
}

.menu2 {
  background-color: rgba(0, 0, 0, 0.44);
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%) ;
  width: 100%;
  height: 100%;
} 

.menu2 li {
  display: inline-block;
  margin-left: 25px;
}


.menu2 a {
  text-decoration: none;
  color:aliceblue;
  font-size: 20px;
}

.menu3 {
  position: absolute;
  top: 50%;
  left: 56%;
  transform: translate(-50%, -50%) ;
  width: 100%;
  height: 28%;
}



.propagation {
  margin-right: 400px;
  font-size: 30px;
  font-family: Courier;
  position: absolute;
  top: 30%;
  left: 10%;
}

.title2 {
  position: absolute;
  margin-top: 5%;
  margin-left: 6%;
  font-size: 40px;
  font-weight: 800;
}
